################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/kreddit-app/.vs/kreddit-app/config
/kreddit-app/.vs
/kreddit-app/bin/Debug/net9.0
/kreddit-app/obj
/Server/bin/Debug/net8.0
/Server/obj
/shared/obj
/shared/.vs/shared
/shared/bin/Debug/net9.0
/shared/shared.csproj
